.outer {
	background-color: white;
	padding: 24px;
	border-radius: 6px;
	max-width: 700px;
	width: 100%;
	min-height: 30vh;
}

.inner {
	display: flex;
	flex-direction: column;
	gap: 24px;
	overflow-y: scroll;
	scrollbar-width: none;
	height: 100%;
}

.letter {
	white-space: pre-wrap;
}

.reply {
	word-break: break-all;
	margin: 8px 0;
}

.replyInput {
	width: 100%;
	resize: vertical;
	min-height: 80px;
	max-height: 200px;
	padding: 12px 68px 12px 12px;
	font-family: initial;
	font-size: 16px;
	scrollbar-width: none;
	border: 1px solid #bcbcbc;

	&:focus-visible {
		outline: none;
	}
}

.report {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	bottom: -16px;
}
