.outer {
	position: absolute;
	inset: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	z-index: 1;
}

.lettersContainer {
	width: 100%;
	overflow-x: scroll;
	scrollbar-width: none;
	display: flex;
	justify-content: center;
}

.letters {
	max-width: 960px;
	width: 100vw;
	flex-shrink: 0;
	padding: 60px 20px 20px;
	display: flex;
	gap: 60px 48px;
	justify-content: space-evenly;
	flex-wrap: wrap;
	transform: translateX(50%);
	opacity: 0;
	transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;

	&.mount {
		opacity: 1;
		transform: translateX(0%);
	}
	&.unmount {
		opacity: 0;
		transform: translateX(-50%);
	}
}

.letter {
	flex-shrink: 0;
	width: 210px;
	height: 290px;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 20px;
	border-radius: 4px;
	box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: box-shadow 0.1s ease-in-out;

	&:hover {
		box-shadow: 8px 8px 12px 6px rgba(0, 0, 0, 0.3);
	}
}

.letterText {
	height: 100%;
	overflow: hidden;
	white-space: pre-wrap;
}

.letterLink {
	text-decoration: none;
	color: initial;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 24px 0 60px;
	width: 100%;
}

.noLetters {
	color: white;
	font-weight: 700;
	font-size: 16px;
}
