.outer {
	position: absolute;
	inset: 0;
	overflow-y: scroll;
	scrollbar-width: none;
	z-index: 1;
}

.inner {
	max-width: 960px;
	margin: 0 auto 100vh;
	padding: 60px 20px 20px;
	display: flex;
	gap: 32px;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.letter {
	flex-shrink: 0;
	width: 210px;
	height: 290px;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 20px;
	border-radius: 4px;
	box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: box-shadow 0.1s ease-in-out;

	&:hover {
		box-shadow: 8px 8px 12px 6px rgba(0, 0, 0, 0.3);
	}
}

.letterLink {
	text-decoration: none;
	color: initial;
}
